<h1>NetEngine Metro Planner</h1>
<p>Enter stations graph to get started:</p>
<p>You can also upload a .txt file</p>

<%= form_tag("/result", method: "get") do %>
  <%= label_tag(:graph, "Station Graph") %>
  <%= text_field_tag(:graph) %>
  <%= submit_tag("Calculate") %>
<% end %>
